/* your styles go here */
a.logo {
    padding-top: 45px;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    a.logo {
        padding-top: 35px;
        text-align: center;
        width: 100%;
    }
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.paginator {
	text-align: center;
}